#booklist {
	display: inline-block;
	margin-left: 25%;
	padding-top: 200px;
	width: 80%;
}

#booklist.hide{
	display: none;
}

.order-section {
	margin-right: 10%;
	display: block;
	text-align: right;
	margin-bottom: 5%;
}

.order-label {
	display: inline;
	margin-right: 1%;
}

.order-select {
	display: inline;
}

.booklist{
	width: 100%;
}

.books {
	list-style-type: none;
	width: 100%;
}

.books > li {
	display: inline-block;
	width: 200px;
	margin-right: 3%;
	margin-bottom: 5%;
}

.book-title {
	text-align: center;
	margin-bottom: -20%;
	width: 200px;
	font-size: 0.9em;
	height: 72px;
	color: #6d7993;
}

.book-author {
	text-align: center;
}

.book-img {
	width: 200px;
	height: 250px;
}

.book-author {
	color: #9099A2;
}

.button-like{
	width: 80px;
	height: 30px;
	margin-left: 60px;
	background-color: #FFFFFF;
	border: #6d7993 1px solid;
	border-radius: 5px;
	color: #666666;
}

.button-like:hover{
	background-color: rgba(191, 170, 183, 0.5);
}

.book-vote {
	display: inline;
	margin-left: 25px;
}

.pages{
	text-align: center;
	padding: 0px;
	list-style-type: none;
}

.pages a{
	text-decoration: none;
	color: black;
}

.pages >li{
	color: black;
	display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pages .page{
	cursor: pointer;
}
.pages .page:hover{
	background-color: rgba(191, 170, 183, 0.2);
}

.page.active{
	background-color: rgba(191, 170, 183, 0.2);
}

.pages .disabled{
	background-color: lightgrey;
}

.disabled a{
	cursor: default;
}

select{
	cursor: pointer;
	width: 200px;
	height: 30px;
	background-color: #ffffff;
}
