/*
-------below are main menu styles-------------------------
*/
header{
    width:100%;
    margin:0;
    padding:0;
    text-align: right;
    position: fixed;
    z-index: 1;
}
.main-menu{
    list-style-type: none;
}
.main-menu li{
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    text-align: center;
    width: 15%;
    color: #6d7993;
}

.main-menu li:hover{
    color: #000000;
    /*text-decoration: underline;*/
    border-bottom: #444359 solid 3px;
}

.main-menu a:link{
    color: #6d7993;
    text-decoration: none;
}

.main-menu a:visited{
    color: #6d7993;
}

nav{
    display: inline-block;
    width: 60%;
    font-size: 20px;
    color: #FFF;
}
#search-icon{
    display:none;
    width: 20px;
    margin-right:1%;
    /*display: inline-block;*/
    vertical-align: bottom;
    padding: 2%;
}

#corner-search{
    display: none;
    width: 250px;
    height: 30px;
    font-size: 16px;
    text-align: center;
}

/*-------below are side menu styles-------------------------*/

.side-menu {
    width: 200px;
    /*background: #d5d5d5;*/
    border-radius: 4px;
    list-style-type: none;
}

.side-menu .menu-item {
    cursor: pointer;
    display: block;
    padding: 8%;
    color: #6d7993;
    font-size: 14px;
    border-bottom: 1px solid #CCC;
    position: relative;
    transition: all 0.4s ease;
}

.side-menu li:last-child .menu-item {
    border-bottom: 0;
}
/*---Sub of side-menu---*/
.sub-side-menu {
    display: none;
    background: #d5d5d5;
    opacity: 0.5;
    font-size: 12px;
}

.sub-side-menu li {
    border-bottom: 1px solid #4b4a5e;
    list-style-type: none;
}

.sub-side-menu a {
    display: block;
    text-decoration: none;
    color: #5d5d5d;
    padding: 6%;
    transition: all 0.25s ease;
}

.sub-side-menu a:hover {
    background: #5d5d5d;
    color: #000000;
}

/*-----genre part-----*/

#genre {
    position: absolute;
    margin-top: 900px;
}

