#book-details{
    display: inline-block;
    padding: 1rem;
	margin-left: 150px;
    padding-top: 100px;
}

#book-details.hide{
    display: none;
}

.image-holder{
    margin: 20px 50px 0 0;
    text-align: center;
    max-width: 300px;
    display: inline-block;
}

.book-image-details {
    margin: auto;
    max-width: 100%;
    max-height:100%;
    display: block;
}

.vote{
    text-align: center;
    display: block;
    background: none;
    border: none;
    margin: 5px auto;
    color: #666666;
}

.vote > img{
    width: 24px;
    cursor: pointer;
    padding: 5px;
    border: none;
    margin: 0px 1px -8px 0px;
}

.vote > img:hover{
    background-color: lightgrey;
    border-radius: 50%;
}

.vote > img:active {
  transform: translateY(2px);
}

.book-contents{
    background-color: white;
    vertical-align: top;
    overflow: hidden;
    font-weight: 300;
    width: 70%;
    max-width: 800px;
    display: inline-block;
    padding: 5px;
    /*font-family: "Lato", Arial, Helvetica, sans-serif;*/
    min-height: 300px;
    color: #393939;
}

.edit{
    text-align: right;
}

.edit-book{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.edit-book > li{
    cursor: pointer;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    display: inline;
    padding-left: 2px;
}

.edit-book > li:hover{
    color: darkgrey;
}
.edit-book > li.hide{
    display: none;
}

.title{
    margin: 5px;
    padding: 2px;
}

.book-title-details{
    font-family: "ScotchRomanMT", serif;
    font-size: 42px;
    line-height: 46px;
    color: #393939;
    display: block;
    width: 600px;
    margin-top: 20px;
}

input.title{
    border: 1px inset;
}

.book-author-details{
    display: inline-block;
    color: #666666;
}

.book-votes-details{
    color: #393939;
}

.book-contents > p{
    font-family: proxima-nova;
    line-height: 1.55rem;
}

.book-description-details{
    min-height: 500px;
}

.edit-description{
    background-color: white;
    border: 1px inset;
    height: 100px;
    overflow-y: auto;
}

.hide{
    display: none;
}

.voted-users{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}
.voted-users > li{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
